<!-- 头部开始 -->
{include file="page/header" /}
<!-- 头部结束 -->

<!-- 菜单开始 -->
{include file="page/menu" /}
<!-- 菜单结束 -->

<!-- 内容开始 -->
<div class="content-wrapper">

  <!-- 内容标题开始 -->
  <section class="content-header">
    <h1>
      控制面板
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
    </ol>
  </section>
  <!-- 内容标题结束 -->

  <!-- 主内容开始 -->
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>
            <p>企业总数</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 主内容结束 -->

</div>
<!-- 内容结束 -->

<!-- 脚部开始 -->
{include file="page/footer" /}
<!-- 脚部结束 -->


