<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>公司简介</title>

  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/style.css">
  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/company.css">

</head>

<body>
<div class="infor_bg">
  <div class="information_content">
    <img src="{$Think.PUBLIC_PATH}image/wap/product_1.jpg" alt="">
    <p>1、公司概况：新饶网站策划，2007年，注册资金80万，员工12名，专业的设计策划团队，一家大学生创业公司；</p>

    <p>  2、发展状况：主要面向长沙中小企业，已经为上百家企业提供了网站策划服务；</p>

    <p>  3、公司文化：公司以“专注网站，用心服务”为核心价值，一切以用户需求为中心，希望通过专业水平和不懈努力，重塑企业网络形象，为企业产品推广文化发展提供服务指导；</p>

    <p>  4、公司主要产品：主要为企业提供网站策划，网站设计制作，网站推广优化等服务；销售业绩以及网络：为中小企业提供网站策划服务，先阶段主要面向长沙地区；5、售后服务：新饶网站策划有详细的售后服务体系，提供终生策划指导服务。</p>
  </div>
</div>
</body>

<script>

</script>

</html>