<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>产品详情</title>
  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/weui.css">
  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/style.css">
  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/product.css">
</head>

<body>
<!-- 作品详情上面 -->
<div class="goods_div_big">
<!--
  <div class="goods_top">
    <a href="{:Url('/wap/index')}"><img src="{$Think.PUBLIC_PATH}image/wap/fanhui.png" alt="" class="return"></a>
    <div class="goods_div_h4">
      <h4>产品详情</h4>
    </div>
    <img src="{$Think.PUBLIC_PATH}image/wap/sharing.png" alt="" class="sharing">
  </div>
-->

  <div class="pro_tu">
    <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="">
  </div>


  <div class="pro_bottom">
    <div class="pro_bottom1">
      <p>蒙住的疼痛</p>
     <!-- <span>72×128cm</span> -->
    </div>
    <!--<p class="artists_name">霍小伟</p>-->
    <div class="pro_bottom2">
      <p>￥4900.00</p>
      <span>运费：￥20</span>
      <!--<div class="bonus">
        年分红：8%
      </div>-->
    </div>
    <!--
    <div class="pro_bottom3">
      <div class="pro_bottom3_left">
        <img src="{$Think.PUBLIC_PATH}image/wap/liulan2.png" alt="" class="browse">
        <p>2333</p>
        <img src="{$Think.PUBLIC_PATH}image/wap/xh_xihuan.png" alt="" class="collection">
        <span>2333</span>
      </div>
      <div class="pro_bottom3_right">
        <img src="{$Think.PUBLIC_PATH}image/wap/yuanchuang.png" alt="" class="mark_img1">
        <img src="{$Think.PUBLIC_PATH}image/wap/zhengshu.png" alt="" class="mark_img2">
      </div>
    </div>
    -->
  </div>
</div>

<!-- 产品描述 -->
<div class="art_appreciation">
  <div class="art_appre_box">
    <span class="art_app_span">产品描述</span>
    <p>艺术家霍小伟的作品总有一股说不出的内涵在里面，给人一种
      每看一次都有不同的无限遐想，一位蒙面女子躺在千万个带刺
      的松柏树中，身上细微被植物划过的痕迹。旁边一致老鼠...</p>
  </div>
  <img src="{$Think.PUBLIC_PATH}image/wap/xiala.png" alt="" class="xiala_ico">
</div>

<!-- tab切换 -->
<div class="tab_but">
  <div class="tab_big">
    <!-- 作品详情 -->
    <div class="tab_box" style="display:block;">

      <div class="goods_top2">
        <div class="introduce">
          <p>作品名称：</p>
          <span>蒙住的伤痛</span>

        </div>
        <div class="introduce">
          <p>作品类型：</p>
          <span>油画</span>

        </div>
        <div class="introduce introduce2">
          <p>艺术家：</p>
          <span>霍小伟</span>

        </div>
        <div class="introduce introduce3">
          <p>题材：</p>
          <span>山水</span>

        </div>
        <div class="introduce introduce3">
          <p>画芯：</p>
          <span>纸本</span>

        </div>

        <div class="introduce introduce3">
          <p>材质：</p>
          <span>宣纸</span>

        </div>
        <div class="introduce introduce3">
          <p>尺寸：</p>
          <span>33*33m</span>

        </div>
        <div class="introduce">
          <p>装裱方式：</p>
          <span>有框（环保材质）</span>

        </div>
        <div class="introduce">
          <p>适用空间：</p>
          <span>客厅、卧室</span>

        </div>
        <div class="introduce">
          <p>创作时间：</p>
          <span>2016年</span>

        </div>

      </div>
      <div class="introduce_pro_big">
        <div class="introduce_pro">
          <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="" class="intro_tu1">
          <p class="artists_describe">艺术家霍小伟的作品总有一股说不出的内涵在里面，给人一种每看一次都有不同的无限遐想，一位蒙面女子躺在千万个带刺的松柏树中，身上细微被植物划过的痕迹。旁边一致老鼠在嗅身上血腥的气味。像是在描绘生活中的种种隐忍，艺术表达生活的不易。</p>
          <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="" class="intro_tu2">
          <div class="intro_box">
            <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="" class="intro_left">
            <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="" class="intro_right">
          </div>
          <p class="topic_center">百搭风格</p>

          <div class="intro_box2">
            <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="" class="intro_tu3">
            <p class="artists_describe2">艺术家霍小伟的作品总有一股说不出的内涵在里面，给人一种每看一次都有不同的无限遐想，一位蒙面女子躺在千万个带刺的的松柏...</p>
          </div>
          <div class="intro_box">
            <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="" class="intro_left">
            <img src="{$Think.PUBLIC_PATH}image/wap/de2.png" alt="" class="intro_right">
          </div>

        </div>
      </div>
      <!-- 相关证书 -->
      <div class="certificate">
        <img src="{$Think.PUBLIC_PATH}image/wap/certificate_top.png" alt="">

      </div>
      <div class="certificate_img">
        <img src="{$Think.PUBLIC_PATH}image/wap/certificate_tu1.png" alt="" class="certificate_img1">
        <img src="{$Think.PUBLIC_PATH}image/wap/certificate_tu2.png" alt="" class="certificate_img2">
      </div>
      <!-- 安装指南 -->
      <div class="installation_guide">
        <img src="{$Think.PUBLIC_PATH}image/wap/insta_guide.png" alt="">
      </div>
      <!-- 温馨小贴士 -->
      <div class="prompting">
        <img src="{$Think.PUBLIC_PATH}image/wap/prompting_bg1.png" alt="" class="promp_tu1">
        <img src="{$Think.PUBLIC_PATH}image/wap/prompting_bg2.png" alt="" class="promp_tu2">
        <p class="prompting_content">放置画作的理想环境为室温14℃-18℃，相对湿度50%-60%；
          避光、防潮请避免阳光长期直射画面，保持画作放置处的空气流通，并远离厨卫等湿气较重的地方，避免灰尘、油烟损害画作；防风请勿在空调口、暖气扇旁放置画作，避免风力过大造成画作受损；</p>
        <p class="prompting_content">防损请勿过于频繁地搬动画作，并避免任何腐蚀性材料（如化学药剂、清洁剂等）接触画面；观赏画作时，请尽量避免肢体与画作的直接接触。</p>
        <img src="{$Think.PUBLIC_PATH}image/wap/prompting_bg3.png" alt="" class="promp_tu3">
        <p class="prompting_content">油画&nbsp;&nbsp;请使用干净、柔软的材料（擦布或黑貂豪笔）轻轻擦拭画上的灰尘；避免清洁剂、海绵或吸尘器接触画面；若受潮，请先用净布吸去水渍，再进行阴干，切忌暴晒；切勿将两张油画对贴放置，一旦画面粘连，会导致油彩脱坏。</p>

        <p class="prompting_content">国画&nbsp;&nbsp;请使用软质毛刷（如拂尘、羽毛掸子）清除灰尘，勿使用布类，并保证动作轻柔，避免损伤画纸；若受潮，请用干布或纸巾吸水，再进行阴干，切忌暴晒；</p>


        <!-- 售后保障 -->
        <div class="after_sale">
          <img src="{$Think.PUBLIC_PATH}image/wap/prompting_bg4.png" alt="" class="promp_tu4">
        </div>
        <div class="after_sale_big">
          <div class="after_sale_left">

            <div class="after_sale_box">
              <img src="{$Think.PUBLIC_PATH}image/wap/after_ico1.png" alt="" class="after_sale_ico1">

              <div class="after_text">
                <p>郑重承诺</p>
                <span>品质保障，无忧售后</span>


              </div>
            </div>

            <div class="after_sale_box2">
              <img src="{$Think.PUBLIC_PATH}image/wap/after_ico2.png" alt="" class="after_sale_ico2">
              <div class="after_text">
                <p>真品保障</p>
                <span>此作品为艺术家原创真品，有证书</span>
              </div>
            </div>

            <div class="after_sale_box2">
              <img src="{$Think.PUBLIC_PATH}image/wap/after_ico3.png" alt="" class="after_sale_ico2">
              <div class="after_text">
                <p>独家合作</p>
                <span>九大美院艺术家独家合作，作品全网唯一</span>
              </div>
            </div>

            <div class="after_sale_box2">
              <img src="{$Think.PUBLIC_PATH}image/wap/after_ico4.png" alt="" class="after_sale_ico2">
              <div class="after_text">
                <p>周周收益</p>
                <span>购买此商品自动获得周周收益</span>
              </div>
            </div>

            <div class="after_sale_box2">
              <img src="{$Think.PUBLIC_PATH}image/wap/after_ico5.png" alt="" class="after_sale_ico2">
              <div class="after_text">
                <p>终身保退</p>
                <span>此商品在合理范围内享有终身原价保退服务</span>
              </div>
            </div>

            <div class="after_sale_box2">
              <img src="{$Think.PUBLIC_PATH}image/wap/after_ico6.png" alt="" class="after_sale_ico2">
              <div class="after_text">
                <p>权威定价</p>
                <span>业界权威专家、机构共同评测定价</span>
              </div>
            </div>

            <div class="after_sale_box2">
              <img src="{$Think.PUBLIC_PATH}image/wap/after_ico7.png" alt="" class="after_sale_ico2">
              <div class="after_text">
                <p>防伪追溯</p>
                <span>鉴证备案体系   真假可查，全程可追溯</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- 订单信息 -->
<div class="order_info">
  <form action="">
    <div class="form-control">
      <div class="weui-cells__title">姓名:</div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="您的名字" name="name">
          </div>
        </div>
      </div>
    </div>
    <div class="form-control">
      <div class="weui-cells__title">手机号:</div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="135xxxxxxxx" name="mobile">
          </div>
        </div>
      </div>
    </div>
    <div class="form-control">
      <div class="weui-cells__title">送货地址</div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="北京市xx区xx路1号" name="address">
          </div>
        </div>
      </div>
    </div>
    <div class="form-control">
      <div class="weui-cells__title">备注</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="周一到周五送货" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-btn-area">
      <input type="submit" value="购买" class="weui-btn weui-btn_primary">
    </div>
  </form>
</div>
<br>
<!-- 购买 -->
<!--
<div class="bottom_big">
  <a href="tel:400-688-7558" class="phone">
    <div class="bottom_left">
      <img src="{$Think.PUBLIC_PATH}image/wap/dianhua.png" alt="">
      <p>联系我们</p>
    </div>
  </a>

  <a href="#"><div class="purchase">立即购买</div></a>
</div>
-->
</body>

<script>

</script>

</html>