<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>购买成功</title>

  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/weui.css">
  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/style.css">
  <link rel="stylesheet" href="{$Think.PUBLIC_PATH}css/wap/success.css">

</head>

<body>
  <div class="page msg_success js_show">
    <div class="weui-msg">
      <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
      <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">购买成功</h2>
        <p class="weui-msg__desc">订单编号 201806281283710 </p>
        <p class="weui-msg__desc">我们会尽快为您发货，请耐心等待！</p>
        <p class="weui-msg__desc">联系电话 010-87367921</p>
      </div>
      <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
          <a href="{:Url('/wap/index')}" class="weui-btn weui-btn_primary">返回首页</a>
        </p>
      </div>
      <div class="weui-msg__extra-area">
        <div class="weui-footer">
          <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">联塑总代理</a>
          </p>
          <p class="weui-footer__text">Copyright © 2008-2016 liansuzongdaili.com</p>
        </div>
      </div>
    </div>
  </div>
</body>

<script>

</script>

</html>