.infor_bg {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}
.information_content {
    width: 6.68rem;
    margin: 0 auto;
    font-size: 0.24rem;
    color: #333333;
}
.information_content img {
    width: 6.68rem;
    margin: 0 auto;
    padding-bottom: 0.2rem;
}
.information_content p {
    line-height: 0.4rem;
    font-size: 0.24rem;
    color: #333333;
    margin: 0.3rem 0 0.3rem 0;
}