* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
html {font-size: 50px;}
body {
    background-color: #f6f6f6;
    display: block;
}
img {
    display: block;
    border: none;
}
a {
    text-decoration: none;
}